h1 {
    color: black;

}

html {
    background-image: linear-gradient(rgb(3, 58, 58),rgb(8, 246, 246));
    color: rgb(5, 60, 50)

}

body {
    font-family: "Zen Dots", sans-serif;

  }

ul {
    list-style-type: circle;

}

a {
    color: rgb(4, 4, 72);
}

.list {
    letter-spacing: 2px;
    color: black;
}

.hobbies {
    color: tan;
}

.exp {
    text-shadow: 2px 2px black;
}